@import 'bootstrap/variables';

$pswp__assets-path: './assets/libraries/';
$pswp__background-color: rgba($gray-900, 0.95);
$pswp__root-z-index: $zindex-modal;

@import '~photoswipe/src/css/main';
@import '~photoswipe/src/css/default-skin/default-skin.scss';
