@import '../../assets/styles/bootstrap/variables';

.footer {
  .nav-link:hover {
    text-decoration: underline;
  }

  .copyright {
    text-decoration: none !important;

    @include media-breakpoint-down(lg) {
      border-top: 1px solid gray('300');
    }
  }
}
