@import '../../assets/styles/bootstrap/variables';

.archive {
  .nav-links {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid gray('300');
    text-align: center;

    .next,
    .page-numbers,
    .prev {
      display: inline-block;
      border-radius: $btn-border-radius;
      border: 1px solid theme-color('primary');
      padding: $btn-padding-y $btn-padding-x;
    }

    .page-numbers {
      &:not(.next):not(.prev) {
        width: 38px;
        text-align: center;
      }

      &.current {
        color: $white;
        background: theme-color('primary');
      }
    }
  }
}
