@import '../../assets/styles/bootstrap/variables';

.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: $zindex-sticky;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;

  @include media-breakpoint-down(md) {
    background: theme-color('primary');
    border-bottom: 1px solid white;
  }

  .logo {
    height: 38px;
    width: auto;
    margin: 20px 0;

    @include media-breakpoint-down(md) {
      margin: 8px 0;
    }
  }

  .navbar-toggler {
    border: 0;
  }

  .navbar-collapse {
    .nav-link {
      color: $white;
      cursor: pointer;
      padding: $input-btn-padding-y $input-btn-padding-x;
      margin-left: 10px;

      &:hover {
        text-decoration: underline;
      }

      @include media-breakpoint-down(md) {
        margin-left: 0;
        margin-bottom: 8px;

        &:hover {
          text-decoration: none;
        }
      }

      &.dropdown-toggle::after {
        margin-bottom: -2px;
      }

      .fas,
      .fab {
        margin-left: 5px;
        margin-top: -1px;
      }

      .fa-text {
        display: none;

        @include media-breakpoint-down(md) {
          display: inline-block;
        }
      }
    }
  }
}

body.customize-support {
  .navbar {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }
}
